*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* #wrapper:hover{
    filter: drop-shadow(0 0 10px#333);
} */
#wrapper{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;


}
.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin: 20px 0;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
}
.Gallery{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between; 
}
.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.card img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;

}
.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px#333);
    transition: 0.2s;
}
.card:hover img{
    filter: grayscale(0%);
}

.card figcaption{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 25px;
    width: 100%;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg ,rgba(0 0 0 0.3) 0%,rgba(255 255 255 0)100%);
    transition: 0.2;

}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}